<!-- Start Header Area -->
<header class="header_area sticky-header">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light main_box">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a class="navbar-brand logo_h" href="/home"><img src="img/logo.png" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item submenu dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">Shop</a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a class="nav-link" href="/shop">Shop Category</a></li>
								<li class="nav-item"><a class="nav-link" href="/cart">Shopping Cart</a></li>
							</ul>
						</li>

						<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
						<li class="nav-item submenu dropdown">
							{{#if user}}
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">{{user.fname}}</a>
							{{else}}
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">User</a>
							{{/if}}
							<ul class="dropdown-menu">
								{{#if user}}
								<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
								{{else}}
								<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
								{{/if}}
								<li class="nav-item"><a class="nav-link" href="/tracking">Tracking</a></li>
								<li class="nav-item"><a class="nav-link" href="/userprofile">User details</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a href="/cart" class="cart"><span class="ti-bag"></span></a></li>
						<li class="nav-item">
							<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="search_input" id="search_input_box">
		<div class="container">
			<form class="d-flex justify-content-between" method="post" action="/search">
				<input type="text" class="form-control" id="search_input" placeholder="Search Here" name="searchQuery">
				<button type="submit" class="btn"></button>
				<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
			</form>
		</div>
	</div>
</header>
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/cart">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Cart Area =================-->
{{#if cartData.length}}
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Product Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">TotalCost</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each cartData}}
                        <tr>
                            <td>
                                <div class="media">
                                    <a href="/singleProductpage/{{this.product._id}}">
                                        <div class="product__cart__item__pic" style="width: 4rem;">
                                            <img src="multer/products/{{this.productDetails.image.[0]}}"
                                                class="img-fluid" alt="">
                                        </div>
                                    </a>
                                    <div class="product__cart__item__text">
                                        <h6>{{this.productDetails.productName}}</h6>
                                        <h5 id="productPrice">₹{{this.productDetails.price}}</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>₹{{this.productDetails.price}}</h5>
                            </td>
                            <td class="quantity__item">
                                <div class="quantity d-flex justify-content-center align align-items-center">
                                    <button class="btn btn-primary btn-sm p-0 countButton" id="changecount"
                                        data-item-id="{{this.product.product_id}}" data-to-do="minus"
                                        style="width:1.5rem"
                                        onclick=" quantityChange('{{this.product.product_id}}',-1)">-</button>
                                    <h5 class="mx-1 countOnScreen" id="product-{{this.product.product_id}}">
                                        {{this.product.count}}</h5>
                                    <button class="btn btn-primary btn-sm p-0 countButton" id="changecount"
                                        data-item-id="{{this.product_id._id}}" data-to-do="plus" style="width: 1.5rem;"
                                        onclick=" quantityChange('{{this.product.product_id}}',1)">+</button>
                                    <p class="mx-1 countOnScreen" id="product-{{this.product.product_id}}"></p>
                                </div>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td class="cart__close">
                                <a href="/cartDelete?productId={{this.product.product_id}}" data-toggle="modal"
                                    data-target="#confirmationModal{{this.product.product_id}}">
                                    <i class="fa fa-trash-o" style="font-size:24px"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}


                        <tr>
                            <td>
                                <div class="cupon_text d-flex align-items-center">
                                    <input id="coupon" type="text" name="couponid" placeholder="Coupon Code">
                                    <a class="primary-btn" href="/coupons">View Coupon</a>
                                    <div class="  col-3 justify-content-between height-3 p-4">

                                        <button class="btn btn-outline-warning" onclick="apply()" type="button">
                                            Apply
                                        </button>

                                    </div>


                                </div>
                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5 id="totalamount">{{total}}</h5>
                            </td>
                        </tr>

                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="/shop">Continue Shopping</a>
                                    <a class="primary-btn" id="checkpage" href="/checkout">Proceed </a>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        {{else}}
        <div
            style="min-height: 90vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 20rem" class="container fluid mt-0 ">
                <img src="img/download (1).png" alt="empty wishlist" class="img-fluid">
            </div>
            <div class="text-center">
                <h4>OOOPS!!!!!!! your cart is empty</h4>
                <a href="/shop" class="btn w-100 text-white fw-bold mt-2" style="background-color:#ff9e01;">GO TO
                    SHOP</a>
            </div>
        </div>
        {{/if}}
    </div>
</section>

<script>


    function quantityChange(id, count) {
        axios.patch(`/changecount/${id}/${count}`).then((res) => {
            // Update the count on the page without refreshing
            if(res.data.success==true){
            const countOnScreen = document.getElementById(`product-${id}`);
           
            countOnScreen.innerText = parseInt(countOnScreen.innerText) + count;
//increasing price
            const productPrice = parseFloat(document.getElementById("productPrice").innerText.replace('₹', ''));
            console.log(productPrice)
            const totalElement = document.getElementById("totalamount");
            let currentTotal = parseFloat(totalElement.innerText.replace('₹', ''));
            currentTotal += (count * productPrice);
            console.log(currentTotal)
             
             totalElement.innerText = `₹${currentTotal.toFixed(2)}`
             const check = document.getElementById('checkpage');
            check.href = `/checkout?total=${currentTotal.toFixed(2)}`;

        }
        }).catch((error) => {
            console.error("Error changing quantity:", error);
        });
    }

    function apply() {

        const id = document.getElementById("coupon").value
        console.log(id)
        axios.get(`/applycoupon/${id}`).then((response) => {
            console.log(response + "response")
            const updatedTotal = response.data.totalAmount;
            const totalAmountElement = document.getElementById("totalamount");
            
            totalAmountElement.innerText = updatedTotal;
            const check = document.getElementById('checkpage')
            check.href=`/checkout?total=${updatedTotal}`

        })

    };




</script>