<section class="whole">

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/cart">Cart<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/checkout">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section>
        <div class="container-fluid profile ">
            <form method="post" action="/cashondelivery">
                <div class="row my-4 mx-5">
                    <div class="col-md-7 p-3   right">
                        <div style="height: 40px;"></div>
                        <div class="card mt-4 ">
                            <h5 class="card-header"> Address</h5>
                            <div class="col-md-6 mt-4">
                                <a href="/addresspage" class="btn btn-warning">Add Address</a>
                            </div>

                            {{#if address }}
                            <div class="card-body border mt-2">
                                {{#each address.address}}
                                <div class="form-check  col-12"><input class="form-check-input " type="radio"
                                        name="addresstype" value="selectAddress" id="adtype" checked=""><label
                                        class="form-check-label col-12" for="flexRadioDefault1">
                                        <div class="mb-5">
                                            <div class="col-12 row justify-content-between  ">
                                                <div class="col-1 d-flex justify-content-center"
                                                    style="background-color: darkgray; height:35px; ; border-radius: 5px;">
                                                    <p class="type">{{this.addresstype}}</p>
                                                </div>
                                                <div class=" row col-2 justify-content-between ">
                                                    <a href="/editAddress/{{this._id}}" type="button"
                                                        class="btn btn-outline-primary">Edit</a>

                                                </div>


                                            </div>
                                            <div class="address " style="line-height: 10px; margin-top: 12px;">
                                                <p class="card-text">{{this.fname}}<span class=""> {{this.lname}}</span>
                                                </p>
                                                <p class="card-text">{{this.phone}}</p>
                                                <p class="card-text">{{this.email}}</p>
                                                <p class="card-text">{{this.address}} ,</p>
                                                <p class="card-text">{{this.place}}<span class=""> ,
                                                        {{this.pincode}}</span>
                                                </p>
                                                <p class="card-text">{{this.additionalinfo}}</p>
                                            </div>
                                            <hr>
                                        </div>
                                    </label></div>
                                {{/each}}
                            </div>

                            {{/if}}

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="left-top m-auto mb-4 border p-4">

                            <div class="col-6 nameContainer ms-4 ">
                                <h5>Price Details</h5>
                            </div>

                        </div>
                        <div class="left-sidebar container m-auto mb-5 px-5 py-5 ">
                            <div class=" m-auto mb-5 px-2 py-2">
                                <div class="">
                                    <div class="pricebar d-flex justify-content-between">
                                        <div class="details">
                                            <p>Price<span>[{{cartCount}} item]</span></p>
                                        </div>
                                        <div class="amount">
                                            <p>₹{{total}}</p>
                                        </div>

                                    </div>
                                    <div class="pricebar d-flex justify-content-between">
                                        <div class="details">
                                            <p>Delivery Charge</p>
                                        </div>
                                        <div class="amount">
                                            <p>free</p>
                                        </div>

                                    </div>
                                    <hr>
                                </div>
                                <div class="totalprice  d-flex justify-content-between">
                                    <div class="details">
                                        <h6>Total Amount</h6>
                                    </div>
                                    <div class="amount">
                                        <h6>₹{{total}}</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="space col-md-4 " style="background-color: #F1F3F6; height: 20px; ;"></div>
                        <div class=" col-11 m-auto px-4 py-5 " style="background-color: white;">
                            <h5 class="px-6 row justify-content-center">Select Payment Method</h5>
                            <div class="container col-12 d-flex justify-content-between m-auto  px-1 py-1">

                                <div class="col-md-6 mt-4 m-3">
                                    <button  class="btn btn-warning">Cash on Delivery</button>
                                </div>
                                <div class="col-md-6 mt-4  ">
                                    <a href="#" class="btn btn-warning">RazorPay</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

    </section>

</section>

<style>
    .whole {
        background-color: #F1F3F6;
    }

    .left-top {
        background-color: white;
        height: 90px;
        width: 90%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    }

    .left-sidebar {
        background-color: white;

        width: 90%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    }

    .right {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);

    }

    .profile {
        margin-top: 50px;
        background-color: #F1F3F6;
        min-height: 100vh;
    }

    .profile .form-control {
        height: 50px;

    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: none;
    }

    .left-top .dp {
        /* background-color: green; */
        width: 60px;
        height: 60px;
        border-radius: 30px;
        display: flex;
    }

    .nameContainer {
        line-height: 9px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .address {
        background-color: white;
        border-radius: 10px;

    }
</style>

<!--================End Checkout Area =================-->