<section class="whole">

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/cart">Cart<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/checkout">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section>
        <div class="container-fluid profile ">
            <form>
                <div class="row my-4 mx-5">
                    <div class="col-md-7 p-3   right">
                        <div style="height: 40px;"></div>
                        <div class="card mt-4 ">
                            <h5 class="card-header"> Address</h5>
                            <div class="col-md-6 mt-4">
                                <a href="/addresspage" class="btn btn-warning">Add Address</a>
                            </div>

                            {{#if address }}
                            <div class="card-body border mt-2">
                                {{#each address}}

                                {{#if (eq @index 0)}}
                                <div class="form-check  col-12"><input class="form-check-input " type="radio"
                                        name="address" value='{{this.address._id}}' id="adtype" checked><label
                                        class="form-check-label col-12" for="flexRadioDefault1">
                                        <div class="mb-5">
                                            <div class="col-12 row justify-content-between  ">
                                                <div class="col-1 d-flex justify-content-center"
                                                    style="background-color: darkgray; height:35px; ; border-radius: 5px;">
                                                    <p class="type">{{this.address.addresstype}}</p>
                                                </div>
                                                <div class=" row col-2 justify-content-between ">
                                                    <a href="/editAddress/{{this.address._id}}" type="button"
                                                        class="btn btn-outline-primary">Edit</a>

                                                </div>


                                            </div>
                                            <div class="address " style="line-height: 10px; margin-top: 12px;">
                                                <p class="card-text">{{this.address.fname}}<span class="">
                                                        {{this.address.lname}}</span>
                                                </p>
                                                <p class="card-text">{{this.address.phone}}</p>
                                                <p class="card-text">{{this.address.email}}</p>
                                                <p class="card-text">{{this.address.address}} ,</p>
                                                <p class="card-text">{{this.place}}<span class=""> ,
                                                        {{this.address.pincode}}</span>
                                                </p>
                                                <p class="card-text">{{this.address.additionalinfo}}</p>
                                            </div>
                                            <hr>
                                        </div>
                                    </label>
                                </div>
                                {{else}}
                                <div class="form-check  col-12"><input class="form-check-input " type="radio"
                                        name="address" value='address' id="adtype"><label
                                        class="form-check-label col-12" for="flexRadioDefault1">
                                        <div class="mb-5">
                                            <div class="col-12 row justify-content-between  ">
                                                <div class="col-1 d-flex justify-content-center"
                                                    style="background-color: darkgray; height:35px; ; border-radius: 5px;">
                                                    <p class="type">{{this.address.addresstype}}</p>
                                                </div>
                                                <div class=" row col-2 justify-content-between ">
                                                    <a href="/editAddress/{{this.address._id}}" type="button"
                                                        class="btn btn-outline-primary">Edit</a>

                                                </div>


                                            </div>
                                            <div class="address " style="line-height: 10px; margin-top: 12px;">
                                                <p class="card-text">{{this.address.fname}}<span class="">
                                                        {{this.address.lname}}</span>
                                                </p>
                                                <p class="card-text">{{this.address.phone}}</p>
                                                <p class="card-text">{{this.address.email}}</p>
                                                <p class="card-text">{{this.address.address}} ,</p>
                                                <p class="card-text">{{this.place}}<span class=""> ,
                                                        {{this.address.pincode}}</span>
                                                </p>
                                                <p class="card-text">{{this.address.additionalinfo}}</p>
                                            </div>
                                            <hr>
                                        </div>
                                    </label></div>
                                {{/if}}
                                {{/each}}
                            </div>

                            {{/if}}

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="left-top m-auto mb-4 border p-4">

                            <div class="col-6 nameContainer ms-4 ">
                                <h5>Price Details</h5>
                            </div>

                        </div>
                        <div class="left-sidebar container m-auto mb-5 px-5 py-5 ">
                            <div class=" m-auto mb-5 px-2 py-2">
                                <div class="">
                                    <div class="pricebar d-flex justify-content-between">
                                        <div class="details">
                                            <p>Price<span>[{{cartCount}} item]</span></p>
                                        </div>
                                        <div class="amount">
                                            <p>₹{{total}}</p>
                                        </div>

                                    </div>
                                    <input id="cartdata" value="{{#each cartData}}{{this.productDetails._id}},{{/each}}"
                                        hidden>
                                    <input id="cartcount" value="{{#each cartData}}{{this.product.count}},{{/each}}"
                                        hidden>
                                    <input id="cartprice" value="{{#each cartData}}{{this.totalPrice}},{{/each}}"
                                        hidden>


                                    <div class="pricebar d-flex justify-content-between">
                                        <div class="details">
                                            <p>Delivery Charge</p>
                                        </div>
                                        <div class="amount">
                                            <p>free</p>
                                        </div>

                                    </div>
                                    <hr>
                                </div>
                                <div class="totalprice  d-flex justify-content-between">
                                    <div class="details">
                                        <h6>Total Amount</h6>
                                    </div>
                                    <div class="amount">
                                        <h6 id="total">₹{{total}}</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="space col-md-4 " style="background-color: #F1F3F6; height: 20px; ;"></div>
                        <div class=" col-11 m-auto px-4 py-5 " style="background-color: white;">
                            <h5 class="px-6 row justify-content-center">Select Payment Method</h5>
                            <div class="container col-12 d-flex justify-content-between m-auto  px-1 py-1">

                                <div class="col-md-6 mt-4 m-3">
                                    <button type="button" onclick="cod()" class="btn btn-warning">Cash on
                                        Delivery</button>
                                </div>
                                <div class="col-md-6 mt-4  ">
                                    <button id="razorpay-btn" type="button" class="btn btn-warning"
                                        onclick="initiateRazorpay()">Razorpay</button>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

    </section>

</section>

<style>
    .whole {
        background-color: #F1F3F6;
    }

    .left-top {
        background-color: white;
        height: 90px;
        width: 90%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    }

    .left-sidebar {
        background-color: white;

        width: 90%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    }

    .right {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);

    }

    .profile {
        margin-top: 50px;
        background-color: #F1F3F6;
        min-height: 100vh;
    }

    .profile .form-control {
        height: 50px;

    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: none;
    }

    .left-top .dp {
        /* background-color: green; */
        width: 60px;
        height: 60px;
        border-radius: 30px;
        display: flex;
    }

    .nameContainer {
        line-height: 9px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .address {
        background-color: white;
        border-radius: 10px;

    }
</style>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<!-- SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">

<!-- SweetAlert JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script>

    function cod() {
        console.log("uuuuuuu");

        const selectedAddressId = document.querySelector('input[name="address"]:checked').value;
        const total = document.getElementById('total').innerText;
        const cartdata = document.getElementById('cartdata').value;
        const count = document.getElementById("cartcount").value;
        const totalPrice = document.getElementById("cartprice").value


        const productIds = cartdata.split(',').filter(id => id !== '');

        axios.post('/cashondelivery', {
            addressId: selectedAddressId,
            payment: 'COD',
            totalAmount: total,
            productIds: productIds,
            count: count,
            totalPrice: totalPrice

        })
            .then(response => {
                console.log(response.data);
                if (response.data.success) {
                    window.location.href = "/orderstatus";
                }
            })
            .catch(error => {
                // Handle errors if the request fails
                console.error(error);
            });
    }



    function initiateRazorpay() {
        console.log("hii razhorpay");
        const cartdata = document.getElementById('cartdata').value;
        const selectedAddressId = document.querySelector('input[name="address"]:checked').value;
        console.log(selectedAddressId);
        const total = parseFloat(document.getElementById('total').innerText.replace('₹', ''));

        const productIds = cartdata.split(',').filter(id => id !== '')

        const count = document.getElementById("cartcount").value;
        const totalPrice = document.getElementById("cartprice").value
        fetch('/razorpay', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                addressId: selectedAddressId,
                totalAmount: total,
                payment: 'online',
                productIds: productIds,
                count: count,
                totalPrice: totalPrice

            })
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                const options = {
                    key: data.key,
                    amount: data.amount,
                    currency: 'INR',
                    name: 'Karma',
                    description: 'Payment for Order',
                    order_id: data.id,

                    handler: function (response) {
                        // Handle successful payment
                        axios.post("/verifyRazorpay", {
                            response,
                            receipt: data.receipt
                        }).then(response => {
                            console.log(response.data);
                            if (response.data.success) {
                                window.location.href = "/orderstatus";
                            } else {
                                // Show SweetAlert for failed payment
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Payment Failed',
                                    text: response.data.message
                                });
                            }
                        })
                    }
                };
                const rzp = new Razorpay(options);
                rzp.on('payment.failed', function (response) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Payment Failed',
                        text: 'Payment failed! Try again '
                    });
                    console.error('Payment failed:', response.error);
                    
                });
                rzp.open();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }




</script>


<!--================End Checkout Area =================-->