<!-- Start Header Area -->
<header class="header_area sticky-header">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light main_box">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a class="navbar-brand logo_h" href="/home"><img src="img/logo.png" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item submenu dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">Shop</a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a class="nav-link" href="/shop">Shop Category</a></li>
								<li class="nav-item"><a class="nav-link" href="/cart">Shopping Cart</a></li>
							</ul>
						</li>

						<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
						<li class="nav-item submenu dropdown">
							{{#if user}}
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">{{user.fname}}</a>
							{{else}}
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">User</a>
							{{/if}}
							<ul class="dropdown-menu">
								{{#if user}}
								<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
								{{else}}
								<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
								{{/if}}
								<li class="nav-item"><a class="nav-link" href="/tracking">Tracking</a></li>
								<li class="nav-item"><a class="nav-link" href="/userprofile">User details</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a href="/cart" class="cart"><span class="ti-bag"></span></a></li>
						<li class="nav-item">
							<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="search_input" id="search_input_box">
		<div class="container">
			<form class="d-flex justify-content-between" method="post" action="/search">
				<input type="text" class="form-control" id="search_input" placeholder="Search Here" name="searchQuery">
				<button type="submit" class="btn"></button>
				<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
			</form>
		</div>
	</div>
</header>
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Product Details Page</h1>
				<nav class="d-flex align-items-center">
					<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="/shop">Shop<span class="lnr lnr-arrow-right"></span></a>
					<a href="#">product-details</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
<div class="product_image_area">
	<div class="container">
		{{#each Product}}

		<div class="row s_product_inner">
			
			<div class="col-lg-6">

				<div class="s_Product_carousel">

					<div class="single-prd-item">
						<img class="img-fluid" src="/multer/products/{{this.productDetails.image.[0]}}" alt="">
					</div>

					<div class="single-prd-item">
						<img class="img-fluid" src="/multer/products/{{this.productDetails.image.[1]}}" alt="">
					</div>
					<div class="single-prd-item">
						<img class="img-fluid" src="/multer/products/{{this.productDetails.image.[2]}}" alt="">
					</div>
				</div>
			</div>


			<div class="col-lg-5 mb-30  offset-lg-1" style="height: 100px;">
				<div class="s_product_text" style="line-height:0px;">
					<h3>{{this.productDetails.productName}}</h3>
					<h4>₹{{this.price}}</h2>

						{{#if (eq this.quantity 0)}}
						<h5>Availibility<span>:Out of Stock</span> </h5>
						{{else}}
						<h5>Availibility<span>:In Stock</span> </h5>
						{{/if}}
						<h6>{{this.productDetails.description}}</h6>
						<br>

						<input id="productid" value="{{this._id}} " hidden>
						<div class="card_area d-flex align-items-center">
							
							<a class="primary-btn"  id="addtocart">Add to Cart</a>
							
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
						</div>
				</div>
			</div>
			

		</div>


		{{/each}}
		<!-- Your Handlebars template with integrated HTML -->
<div class="container-fluid col-4 w-100% d-flex" style="margin-left: 44rem; margin-top: -2rem;">
    <div>
        <h5>More variants:</h5>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="colorDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Color
        </button>

        <div class="dropdown-menu" aria-labelledby="colorDropdownButton">
            {{#each product}}
            <a class="dropdown-item" href="/singleproduct/{{../Product.[0].productDetails._id}}/{{this._id.color}}/{{this.sizes.[0]}}">{{this._id.color}}</a>
            {{/each}}
        </div>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="sizeDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Size
        </button>
        <div class="dropdown-menu" aria-labelledby="sizeDropdownButton">
            {{#each product}}
			{{#if (eq ../selectColor this._id.color)}}
			
            {{#each this.sizes}}
			<a class="dropdown-item"href="/singleproduct/{{../../Product.[0].productDetails._id}}/{{../../selectColor}}/{{this}}">{{this}}</a>
			{{/each}}
			{{/if}}
            {{/each}}
        </div>
    </div>
</div>


	</div>

</div>
<!--================End Single Product Area =================-->



<!-- start footer Area -->
<footer class="footer-area section_gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-3  col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h6>About Us</h6>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
						ut labore dolore
						magna aliqua.
					</p>
				</div>
			</div>
			<div class="col-lg-4  col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h6>Newsletter</h6>
					<p>Stay update with our latest</p>
					<div class="" id="mc_embed_signup">

						<form target="_blank" novalidate="true"
							action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							method="get" class="form-inline">

							<div class="d-flex flex-row">

								<input class="form-control" name="EMAIL" placeholder="Enter Email"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
									required="" type="email">


								<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right"
										aria-hidden="true"></i></button>
								<div style="position: absolute; left: -5000px;">
									<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
										type="text">
								</div>

								<!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
							</div>
							<div class="info"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-3  col-md-6 col-sm-6">
				<div class="single-footer-widget mail-chimp">
					<h6 class="mb-20">Instragram Feed</h6>
					<ul class="instafeed d-flex flex-wrap">
						<li><img src="img/i1.jpg" alt=""></li>
						<li><img src="img/i2.jpg" alt=""></li>
						<li><img src="img/i3.jpg" alt=""></li>
						<li><img src="img/i4.jpg" alt=""></li>
						<li><img src="img/i5.jpg" alt=""></li>
						<li><img src="img/i6.jpg" alt=""></li>
						<li><img src="img/i7.jpg" alt=""></li>
						<li><img src="img/i8.jpg" alt=""></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h6>Follow Us</h6>
					<p>Let us be social</p>
					<div class="footer-social d-flex align-items-center">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
			<p class="footer-text m-0">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;
				<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
				made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
					target="_blank">Colorlib</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</p>
		</div>
	</div>
</footer>
<!-- End footer Area -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const productid = document.getElementById('productid')
		console.log(productid.value)
		axios.get(`/checkproduct/${productid.value}`).then((res) => {
			console.log(res)
			if (res.data.success) {
				 document.getElementById('addtocart').href = '/cart'
				document.getElementById('addtocart').textContent = 'Go to cart'
				

			}
		}).catch((err) => {
			console.log(error)
		})		
	})
	document.addEventListener('DOMContentLoaded', () => {
    const addToCartBtn = document.getElementById('addtocart');
    const productId = document.getElementById('productid').value;
    let cartAdded = false; // Flag to track if item is added to cart

   addToCartBtn.addEventListener('click', async (event) => {
    {{!-- event.preventDefault(); // Prevent the default form submission --}}

    if (!cartAdded) {
        try {
            const response = await axios.post(`/addtocart/${productId}`);
            if (response.data.success) {
                // Update button text and href attribute
                addToCartBtn.textContent = 'Go to Cart';
                addToCartBtn.href = '/cart';
                cartAdded = true; // Update flag to indicate item is added to cart

                // Redirect to the cart page
                {{!-- window.location.href = '/cart'; --}}
            } else {
                console.error('Failed to add product to cart:', response.data.msg);
				window.location.href = '/login';
            }
        } catch (error) {
            console.error('An error occurred:', error);
        }
    } else {
        // If item is already added to cart, navigate to the cart page
        window.location.href = '/cart';
    }
});

});

	
</script>
